<!-- Este arquivo foi esvaziado. O conteúdo da tabela e paginação será injetado dinamicamente pelo app.js. -->
<!-- O conteúdo da tabela e paginação será injetado dinamicamente pelo app.js. -->
<table id="tabelaUsuarios">
  <thead>
    <tr>
      <th onclick="ordenarTabela('nome')">Nome ⬍</th>
      <th onclick="ordenarTabela('idade')">Idade ⬍</th>
      <th onclick="ordenarTabela('endereco')">Endereço ⬍</th>
      <th onclick="ordenarTabela('email')">Email ⬍</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
